/packages/*
/working/*
/.idea/
/.cask/
.ecukes-failing-scenarios
/log/*
run.pid
status.pid
nohup.out
index2.html
html/*.json
download_log.db
html/.last-build-duration
html/download_log
html/updates.rss
html/packages/
recipes/.dirstamp
service/builder-stable/log/main/
service/builder-stable/log/supervise/
service/builder-stable/supervise/
service/builder/log/main/
service/builder/log/supervise/
service/builder/supervise/
service/nginx-stable/supervise/
service/nginx/supervise/
service/process_log/supervise/
service/reporter/supervise/
service/service
service/supervise/
service/syncer-stable/supervise/
service/syncer/log/main/
service/syncer/log/supervise/
service/syncer/supervise/
service/disk/log/
service/disk/supervise/
html/updates.rss.tmp
html/assets/
*.swp
