<div class="ui container">
    <h1 class="ui dividing header" style="margin-top: 25px">使用指南</h1>

    <section>
        <a name="installing"></a>
        <h2 class="first">安装</h2>

        <p>使用popkit的emacs软件源, 必须添加
            <code>package.el</code>. Emacs 24 及以上版本自带<code>package.el</code>
            无需添加, <a href="/package.el" target="_blank">
                Emacs 23以下版本，点击下载package.el
            </a>.
        </p>

        <p>
            配置emacs的安装源从popkit下载，添加http://elpa.popkit.org/packages/到
            <code>package-archives</code>，位置位于<code>(require
            'package)</code>之后，且
            <code>package-initialize</code>之前，将如下代码添加到你的
            <code>init.el</code> 或 <code>.emacs</code> 文件即可:
        </p>

        <pre><code>
          (require 'package) ;; You might already have this line
          (add-to-list 'package-archives
          '("popkit" . "http://elpa.popkit.org/packages/"))
          (when (< emacs-major-version 24)
          ;; For important compatibility libraries like cl-lib
          (add-to-list 'package-archives '("gnu" . "http://elpa.gnu.org/packages/")))
          (package-initialize) ;; You might already have this line
        </code></pre>
    </section>
    
    <section>
        <a name="updating"></a>
        <h2>更新</h2>
        <p>
            <code>package.el</code> 的更新机制很简单. 运行命令(M-x)<code>package-list-packages</code>,
            执行 <em>U</em> (标记要更新的包)，然后执行 <em>x</em>
            (执行安装更新命令). 当更新完成后，问你是否要删除老的包，输入 <em>y</em> (删除老包)。
        </p>
        <p>
            如果中间遇到问题，只能到<code>~/.emacs.d/elpa/</code> 路径
            下做删除操作。
        </p>
        <a name="adding"></a>
        <h2>添加包</h2>
        <p>
            想添加自己的emacs包到popkit elpa,只需求在项目https://github.com/aborn/popkit-elpa
            提交一个pull request即可，查看<a href="https://github.com/aborn/popkit-elpa">popkit elpa</a>
            项目详情。
        </p>
        <a name="development"></a>
        <h2>欢迎共同开发</h2>
        <p><a href="https://github.com/aborn/popkit-elpa">https://github.com/aborn/popkit-elpa</a></p>
        <p>
            该项目从melpa fork过来，大部分源码来源于melpa archives，并在其基础上做了些修改.
            当前, 支持构建的包源为git, subversion, mercurial, bzr, cvs, darcs, fossil and
            emacswiki.
        </p>
        <a name="contact"></a>
        <h2>联系</h2>
        <p>
            GITHUB: https://github.com/aborn <br/>
            EMAIL : aborn.jiang AT foxmail.com
        </p>
    </section>
</div>
